# www.comolaundryth.com

# route {
#     reverse_proxy app:3000
#     reverse_proxy /form/* app:3003
#     reverse_proxy /* app:3000
#     file_server
# }

https://www.comolaundryth.com {
    route {
        reverse_proxy /* app:3003
        reverse_proxy app:3000
        file_server
    }

    tls {
        on_demand
    }
}

